.background{

    background-color: white;
}

.title{
    color: black;
}
.underTitle{
    color: darkviolet;
    text-decoration: underline;
    border: thin solid red;
    width:  50%;
    height: 50px;
    box-shadow: 3px 3px 3px black;
}

.paragraph1{
    color: blue;
}

.paragraph2{
    color: blueviolet;
}

.paragraph3{
    color: blue;
}

.paragraph4{
    color: crimson;

}

.paragraph6{
    color: darkcyan;
}