.background{

    background-color: aquamarine;
}

.title{
    color: brown;
}
.underTitle{
    color: darkviolet;
    text-decoration: underline;
    border: thin solid red;
    width:  50%;
    height: 50px;
    box-shadow: 3px 3px 3px black;
}

.paragraph{
    color: aliceblue;
}

.paragraph{
    color: blueviolet;
}

.paragraph{
    color: blue;
}